In [1]:
import yfinance as yh

In [41]:
AAPL = yh.download("AAPL", start="2022-10-05", end="2022-11-05")

[*********************100%***********************]  1 of 1 completed

In [42]:
AAPL['symbol'] = 'AAPL'

In [43]:
MSFT = yh.download("MSFT", start="2022-10-05", end="2022-11-05")

[*********************100%***********************]  1 of 1 completed

In [44]:
MSFT['symbol'] = 'MSFT'

In [45]:
AMZN = yh.download("AMZN", start="2022-10-05", end="2022-11-05")

[*********************100%***********************]  1 of 1 completed

In [46]:
AMZN['symbol'] = 'AMZN'

In [47]:
two = MSFT.append(AMZN)

In [48]:
two

,Open,High,Low,Close,Adj Close,Volume,symbol
Date,,,,,,,
2022-10-04,245.089996,250.360001,244.979996,248.880005,248.880005,34888400,MSFT
2022-10-05,245.990005,250.580002,244.100006,249.199997,249.199997,20347100,MSFT
2022-10-06,247.929993,250.339996,246.080002,246.789993,246.789993,20239900,MSFT
2022-10-07,240.899994,241.320007,233.169998,234.240005,234.240005,37732400,MSFT
2022-10-10,233.050003,234.559998,226.729996,229.250000,229.250000,29743600,MSFT
2022-10-11,227.619995,229.059998,224.110001,225.410004,225.410004,30474000,MSFT
2022-10-12,225.399994,227.860001,223.960007,225.750000,225.750000,21903900,MSFT
2022-10-13,219.850006,236.100006,219.130005,234.240005,234.240005,42551800,MSFT
2022-10-14,235.539993,237.240005,228.339996,228.559998,228.559998,30187200,MSFT
2022-10-17,235.820007,238.960007,235.139999,237.529999,237.529999,28142300,MSFT
2022-10-18,243.240005,243.929993,235.369995,238.500000,238.500000,26329600,MSFT
2022-10-19,237.039993,239.610001,234.289993,236.479996,236.479996,19985700,MSFT
2022-10-20,235.770004,241.309998,234.869995,236.149994,236.149994,21811000,MSFT
2022-10-21,234.740005,243.000000,234.500000,242.119995,242.119995,26280900,MSFT
2022-10-24,243.759995,247.839996,241.300003,247.250000,247.250000,24911200,MSFT
2022-10-25,247.259995,251.039993,245.830002,250.660004,250.660004,34775500,MSFT
2022-10-26,231.169998,238.300003,230.059998,231.320007,231.320007,82543200,MSFT
2022-10-27,231.039993,233.690002,225.779999,226.750000,226.750000,40424600,MSFT
2022-10-28,226.240005,236.600006,226.050003,235.869995,235.869995,40647700,MSFT
2022-10-31,233.759995,234.919998,231.149994,232.130005,232.130005,28357300,MSFT
2022-11-01,234.600006,235.740005,227.330002,228.169998,228.169998,30592300,MSFT
2022-11-02,229.460007,231.300003,220.039993,220.100006,220.100006,38407000,MSFT
2022-11-03,220.089996,220.410004,213.979996,214.250000,214.250000,36633900,MSFT
2022-11-04,217.550003,221.589996,213.429993,221.389999,221.389999,36767800,MSFT
2022-10-04,119.889999,123.000000,119.790001,121.089996,121.089996,62812600,AMZN
2022-10-05,118.580002,121.750000,117.690002,120.949997,120.949997,48217500,AMZN
2022-10-06,120.769997,121.529999,119.500000,120.300003,120.300003,42253800,AMZN
2022-10-07,118.000000,118.169998,113.879997,114.559998,114.559998,54626400,AMZN
2022-10-10,115.099998,116.250000,112.430000,113.669998,113.669998,42339700,AMZN
2022-10-11,112.709999,115.480003,110.389999,112.209999,112.209999,56432200,AMZN
2022-10-12,112.489998,113.830002,111.400002,112.900002,112.900002,45728700,AMZN
2022-10-13,107.879997,113.440002,105.349998,112.529999,112.529999,86868100,AMZN
2022-10-14,114.099998,114.959999,106.599998,106.900002,106.900002,67651200,AMZN
2022-10-17,110.110001,114.190002,110.089996,113.790001,113.790001,62782000,AMZN
2022-10-18,119.059998,119.519997,114.790001,116.360001,116.360001,65607400,AMZN
2022-10-19,114.709999,116.589996,113.220001,115.070000,115.070000,47198100,AMZN
2022-10-20,113.830002,118.239998,113.510002,115.250000,115.250000,48795100,AMZN
2022-10-21,114.790001,119.589996,114.500000,119.320000,119.320000,55611900,AMZN
2022-10-24,119.980003,120.389999,116.570000,119.820000,119.820000,49531500,AMZN
2022-10-25,119.650002,121.320000,118.949997,120.599998,120.599998,50934600,AMZN
2022-10-26,116.000000,119.349998,114.760002,115.660004,115.660004,68802300,AMZN
2022-10-27,113.919998,114.120003,109.769997,110.959999,110.959999,129605400,AMZN
2022-10-28,97.910004,103.959999,97.660004,103.410004,103.410004,223133400,AMZN
2022-10-31,103.559998,104.870003,100.739998,102.440002,102.440002,99251400,AMZN
2022-11-01,103.989998,104.580002,96.059998,96.790001,96.790001,153370000,AMZN
2022-11-02,97.320000,97.739998,92.010002,92.120003,92.120003,135761800,AMZN
2022-11-03,92.470001,93.500000,89.019997,89.300003,89.300003,136683300,AMZN
2022-11-04,91.489998,92.440002,88.040001,90.980003,90.980003,128999900,AMZN

In [49]:
df = two.append(AAPL)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 72 entries, 2022-10-04 to 2022-11-04
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       72 non-null     float64
 1   High       72 non-null     float64
 2   Low        72 non-null     float64
 3   Close      72 non-null     float64
 4   Adj Close  72 non-null     float64
 5   Volume     72 non-null     int64
 6   symbol     72 non-null     object
dtypes: float64(5), int64(1), object(1)
memory usage: 4.5+ KB

In [52]:
import pandas as pd

In [55]:
df.to_csv('/Users/maria/Documents/GitHub/the_hottest_project/data.csv')

In [58]:
data = pd.read_csv('data.csv')

In [59]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,symbol
0,2022-10-04,245.089996,250.360001,244.979996,248.880005,248.880005,34888400,MSFT
1,2022-10-05,245.990005,250.580002,244.100006,249.199997,249.199997,20347100,MSFT
2,2022-10-06,247.929993,250.339996,246.080002,246.789993,246.789993,20239900,MSFT
3,2022-10-07,240.899994,241.320007,233.169998,234.240005,234.240005,37732400,MSFT
4,2022-10-10,233.050003,234.559998,226.729996,229.250000,229.250000,29743600,MSFT

In [60]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,symbol
67,2022-10-31,153.160004,154.240005,151.919998,153.339996,153.086044,97943200,AAPL
68,2022-11-01,155.080002,155.449997,149.130005,150.649994,150.400497,80379300,AAPL
69,2022-11-02,148.949997,152.169998,145.000000,145.029999,144.789810,93604600,AAPL
70,2022-11-03,142.059998,142.800003,138.750000,138.880005,138.650009,97918500,AAPL
71,2022-11-04,142.089996,142.669998,134.380005,138.380005,138.380005,140716700,AAPL

In [61]:
data1 = data[['Date', 'symbol', 'Close']]

#pivot
data1 = data1.pivot(index='Date', columns= 'symbol', values='Close')

In [62]:
data1

symbol            AAPL        AMZN        MSFT
Date
2022-10-04  146.100006  121.089996  248.880005
2022-10-05  146.399994  120.949997  249.199997
2022-10-06  145.429993  120.300003  246.789993
2022-10-07  140.089996  114.559998  234.240005
2022-10-10  140.419998  113.669998  229.250000
2022-10-11  138.979996  112.209999  225.410004
2022-10-12  138.339996  112.900002  225.750000
2022-10-13  142.990005  112.529999  234.240005
2022-10-14  138.380005  106.900002  228.559998
2022-10-17  142.410004  113.790001  237.529999
2022-10-18  143.750000  116.360001  238.500000
2022-10-19  143.860001  115.070000  236.479996
2022-10-20  143.389999  115.250000  236.149994
2022-10-21  147.270004  119.320000  242.119995
2022-10-24  149.449997  119.820000  247.250000
2022-10-25  152.339996  120.599998  250.660004
2022-10-26  149.350006  115.660004  231.320007
2022-10-27  144.800003  110.959999  226.750000
2022-10-28  155.740005  103.410004  235.869995
2022-10-31  153.339996  102.440002  232.130005
2022-11-01  150.649994   96.790001  228.169998
2022-11-02  145.029999   92.120003  220.100006
2022-11-03  138.880005   89.300003  214.250000
2022-11-04  138.380005   90.980003  221.389999